* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.hero {
  height: 100vh;
  width: 100%;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 45px;
  padding-left: 8%;
  padding-right: 8%;
}
.logo {
  color: #fff;
  font-size: 30px;
  letter-spacing: 1px;
  cursor: pointer;
}
span {
  color: #aa2ee6;
}
nav ul li {
  list-style-type: none;
  display: inline-block;
  padding: 10px 25px;
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  text-transform: capitalize;
}
nav ul li a:hover {
  color: #aa2ee6;
  transition: 0.4s;
}
.btn {
  background-color: #aa2ee6;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 10px 25px;
  border-radius: 10px;
  transition: transform 0.4s;
}
.btn:hover {
  transform: scale(1.2);
}
.content {
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
}
h1 {
  color: #fff;
  margin: 20px 0px 20px;
  font-size: 50px;
}
h3 {
  color: #fff;
  font-size: 25px;
  margin-bottom: 50px;
}
h4 {
  color: #aaa492;
  letter-spacing: 2px;
  font-size: 20px;
}
.newsletter form {
  width: 380px;
  max-width: 100%;
  position: relative;
}
.newsletter form input:first-child {
  display: inline-block;
  width: 100%;
  padding: 14px 130px 14px 15px;
  border: 2px solid #aa2ee6;
  outline: none;
  border-radius: 10px;
}
.newsletter form input:last-child {
  position: absolute;
  display: inline-block;
  outline: none;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #aa2ee6;
  color: #fff;
  box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
  top: 6px;
  right: 6px;
}
.about {
  width: 100%;
  padding: 100px 0px;
  background-color: #fff;
}
.about img {
  height: auto;
  width: 350px;
}
.about-text {
  width: 450px;
}
.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.about-text h2 {
  color: #101010;
  font-size: 40px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.about-text h5 {
  color: #101010;
  letter-spacing: 2px;
  font-size: 20px;
  margin-bottom: 18px;
  text-transform: capitalize;
}
.about-text p {
  color: #191919;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
button {
  background-color: #aa2ee6;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 10px;
  font-size: 16px;
  transition: 0.4s;
}
button:hover {
  background-color: transparent;
  color: #aa2ee6;
  border: 2px solid #aa2ee6;
  cursor: pointer;
}
.service {
  background-color: #101010;
  width: 100%;
  padding: 100px 0px;
}
.title h2 {
  color: #fff;
  font-size: 40px;
  width: 1130px;
  margin: 30px auto;
  text-align: center;
}
.box {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 500px;
}
.card {
  height: 400px;
  width: 335px;
  padding: 20px 35px;
  background-color: #191919;
  border-radius: 10px;
  margin: 15px;
  position: relative;
  overflow: hidden;
  text-align: center;
}
.card i {
  font-size: 50px;
  display: block;
  text-align: center;
  margin: 25px 0px;
  color: #aa2ee6;
}
h5 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
}
.desc p {
  color: #aaa492;
  font-size: 14px;
  line-height: 27px;
  margin-bottom: 25px;
}
.card .button {
  background-color: #aa2ee6;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 9px 22px;
  border-radius: 10px;
  transition: 0.4s;
}
.card .button:hover {
  background-color: transparent;
  border: 2px solid #aa2ee6;
  cursor: pointer;
}
.contact-me {
  width: 100%;
  height: 290px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.contact-me p {
  color: #191919;
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 25px;
}
.contact-me .button-two {
  background-color: #aa2ee6;
  color: #fff;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 10px;
  transition: 0.4s;
}
.contact-me .button-two:hover {
  background-color: transparent;
  color: #aa2ee6;
  border: 2px solid #aa2ee6;
  cursor: pointer;
}
footer {
  position: relative;
  width: 100%;
  height: 400px;
  background-color: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer p:nth-child(1) {
  font-size: 20px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: bold;
}
footer p:nth-child(2) {
  color: #fff;
  font-size: 14px;
  width: 500px;
  text-align: center;
  line-height: 26px;
}
.social {
  display: flex;
}
.social a {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #aa2ee6;
  border-radius: 50%;
  margin: 22px 10px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.social a:hover {
  transform: scale(1.3);
  transition: 0.3s;
}
.footer {
  position: absolute;
  color: #aa2ee6;
  bottom: 35px;
  font-size: 14px;
}
